rect {
    fill: none;
}

image {
    -webkit-user-select: none;
}

.product-viewer.active .print-area-border,
.product-viewer.active .soft-boundary-border {
    stroke-width: 1;
    stroke: white;
    vector-effect: non-scaling-stroke;
    shape-rendering: crispEdges;
}

.dnd-image {
    position: absolute;
    pointer-events: none;
}

.dnd-image-inner {
    /*background: blue;*/
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
    /*width: 60px;*/
    /*height: 60px;*/
}

.dnd-image-svg {
    fill: rgba(255, 255, 255, 0.3);
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
}

.configuration-viewer .asset-container {
    cursor: move;
}

.configuration-viewer.hide-configuration {
    opacity: 0;
}

.product-viewer.active.bright .print-area-border,
.product-viewer.active.bright .soft-boundary-border {
    stroke: black;
}

.soft-boundary-border {
    stroke-dasharray: 5, 5;
    fill: none;
}

.configuration-handle {
    fill: white;
    stroke-width: 1;
    stroke: black;
    vector-effect: non-scaling-stroke;
    visibility: hidden;
}

.configuration-handle.active {
    visibility: visible;
}

.configuration-handle-icon {
    visibility: hidden;
}

.configuration-handle-icon.active {
    visibility: visible;
}

.configuration-boundary {
    stroke-dasharray: 9, 5;
    stroke-width: 1;
    stroke: white;
    vector-effect: non-scaling-stroke;
}

.configuration-boundary {
    visibility: hidden;
}

.configuration-boundary.active {
    visibility: visible;
}

.bright .configuration-boundary {
    stroke: black;
}

.configuration-viewer.error {
    /*filter: url(library.svg#configurationError);*/
}

.text-selection {
    pointer-events: none;
    fill: #64b9e2;
    fill-opacity: 0.7;
}

.configuration-viewer.error .configuration-boundary {
    stroke: red;
    stroke-width: 3;
}

.configuration-viewer.printType-16 tspan {
    fill: inherit;
}

.configuration-viewer .rotation-center {
    fill: #ffa53b;
    stroke: none;
}

.configuration-viewer .rotation-circle, .reference-circle, .rotation-line {
    fill: none;
    stroke-width: 1;
    stroke: #ffa53b;
    vector-effect: non-scaling-stroke;
}

.snap-line {
    fill: none;
    stroke-width: 1;
    stroke: #ffa53b;
    vector-effect: non-scaling-stroke;
}

.configuration-viewer .bendingText-configuration .path {
    fill: none;
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
}

.text-configuration-background {
    fill: rgba(255,255,255,0);
    fill-opacity: 0.01;
}

.dark .text-cursor {
    stroke: white;
}

.bright .text-cursor {
    stroke: blue;
}

.text-cursor {
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
    visibility: hidden;
}

.text-cursor.active {
    visibility: visible;
}


.configuration-viewer .text-selection {
    visibility: hidden;
}

.configuration-viewer.active .text-selection {
    visibility: visible;
}