rect {
    fill: none;
}

.print-area-border {
    stroke-width: 1;
    stroke: #333;
    vector-effect: non-scaling-stroke;
    shape-rendering: crispEdges;
}

.configuration-handle {
    fill: white;
    stroke-width: 1;
    stroke: black;
    vector-effect: non-scaling-stroke;
    shape-rendering: crispEdges;
}

.configuration-boundary {
    stroke-dasharray: 9, 5;
    stroke-width: 1;
    stroke: white;
    vector-effect: non-scaling-stroke;
}

.configuration-viewer.bright .configuration-boundary {
    stroke: black;
}

.configuration-viewer.error {
    filter: url(library.svg#configurationError);
}

.configuration-viewer.error .configuration-boundary {
    stroke: red;
    stroke-width: 3;
}