rect {
    fill: none;
}

.product-viewer.active .print-area-border,
.product-viewer.active .soft-boundary-border {
    stroke-width: 1;
    stroke: white;
    vector-effect: non-scaling-stroke;
    shape-rendering: crispEdges;
}

.product-viewer.active.bright .print-area-border,
.product-viewer.active.bright .soft-boundary-border {
    stroke: black;
}

.soft-boundary-border {
    stroke-dasharray: 5, 5;
    fill: none;
}

.configuration-handle {
    fill: white;
    stroke-width: 1;
    stroke: black;
    vector-effect: non-scaling-stroke;
    visibility: hidden;
}

.configuration-handle.active {
    visibility: visible;
}

.configuration-handle-icon {
    visibility: hidden;
}

.configuration-handle-icon.active {
    visibility: visible;
}

.configuration-boundary {
    stroke-dasharray: 9, 5;
    stroke-width: 1;
    stroke: white;
    vector-effect: non-scaling-stroke;
}

.configuration-boundary {
    visibility: hidden;
}

.configuration-boundary.active {
    visibility: visible;
}

.bright .configuration-boundary {
    stroke: black;
}

.configuration-viewer.error {
    /*filter: url(library.svg#configurationError);*/
}

.text-selection {
    pointer-events: none;
    fill: #64b9e2;
    fill-opacity: 0.7;
}

.configuration-viewer.error .configuration-boundary {
    stroke: red;
    stroke-width: 3;
}

.configuration-viewer .rotation-center {
    fill: #ffa53b;
    stroke: none;
}

.configuration-viewer .rotation-circle {
    fill: none;
    stroke-width: 1;
    stroke: #ffa53b;
    vector-effect: non-scaling-stroke;
}

.text-configuration-background {
    fill: red;
    fill-opacity: 0.01;
}

.dark .text-cursor {
    fill: white;
}

.bright .text-cursor {
    fill: blue;
}

.text-cursor {
    visibility: hidden;
}

.text-cursor.active {
    visibility: visible;
}